
  <div class="index_div">
  <%= image_tag('cartoon_sunrise.jpg', height: '300', width: '270') %>
  <%= @weather %>
  <div id="map-container">
  <div id="map-canvas"></div>
</div>
  </div>

  <div class="div_task" >
<div class='image_1'><%= image_tag('http://www.priorityteam.com/wp-content/uploads/2011/11/people-person.jpg', height: '550', width: '400') %></div>
  </div>



