
  <div class="index_div">
  <%= image_tag('cartoon_sunrise.jpg', height: '280', width: '230') %>
  <%= @weather %>
  </div>

  <div class="div_task" >
<div class='image_1'><%= image_tag('People.png', height: '280', width: '665') %></div>
  </div>



