body {
  font-family: 'Oswald', sans-serif;
  background-color: #FFFFFF;
  margin: none;
}
.main_div {
}

.login {
  background-color: #4499a9;
 }

 .flash {
  list-style: none;
  position: absolute;
  margin-bottom: 3em;
 }

legend {
  border-radius: .1em;
}

.login_label {
  font-family: 'Oswald', sans-serif;
  color: #385561;
}

#oauth input {
  opacity:0.7;
  text-align: center;

}
#oauth fieldset {
  border: 1px;
  margin-top: 6em;
  background-color: #fff;
  border-radius: 1em;
}

#oauth h2 {
  color: #385561;
  text-align: center;
}



