/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: sans-serif;
  background-color: #E6E6E6;
}

.login {
  float: right;
  margin-right: 20px;
}
h1 > a{
  font-size: 40px;
  text-decoration: none;
  color: #797D84;
}

h2 {
  padding-left: 20px;
}

.h2s {
  color: #fff;
}

h4 {
  padding-left: 120px;
}

strong {
  font-size: 60px;
  color: #F77219;
  font: cocktail script;
}


body {
  padding: 1em;
  width: 932px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}


.listing > li > a {

  padding-left: 10px;
  text-decoration: none;
  color: #2F647D;
  font-size: 18px;
}

.index_div {
  float: left;
  width: 260px;
  height: 550px;
  background-color: #fff;
}

.div_task {
  float: right;
  width: 635px;
  margin-right: 0px;
  height: 550px;
  background-color: #fff;
  font_size: 26px;

}

.mdiv1 {
  float: left;
  margin-left: 0px;
  width: 100px;
  height: 550px;
}

.mdiv2 {
  float: right;
  margin-right : 200px;
  width: 300px;
  height: 550px;
}
.condition {
  padding-left: 50px;
  padding-top: 10px;
}

.default {
  padding-left: 50px;
  padding-top: 60px;
}

.clock {

  padding-top: 30px;
  padding-left: 100px;

}


#ct {
  padding-left: 130px;
  font-size: 16px;
  color: #fff;
}

.hour_list ul {
  border: 1px solid;
    border-radius: 5px;
  padding-left: 60px;
  padding-top: 0px;
  margin-right: 30px;
  background-color: #fff;
}

.avail_item_list {
  padding-left: 250px;


}
.avail_item_list > li {
  list-style: none;
}
.avail_item_list > li > a {
  list-style: none;
  text-decoration: none;
  font-size: 22px;
  color: #390909;
  padding-bottom: 5px;
}

.form1 {
  padding-top: 30px;
  padding-left: 30px;
}

.weather {
  padding-top: 40px;
  padding-left: 40px;
  font-size: 26px;
  color: #345678;
}

.each_task_container {
  margin-left: 8em;
  width: 40em;
  height: 30em;
  overflow: scroll;

}
.each_task_container fieldset {
  border-radius: 1em;
}
.each_task {
  padding-bottom: 15px;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
}

.task_date {
  font-size: 26px;
  padding-left: 50px;
}

.task_strong {
  font-size: 34px;
  color: #808080;
}
.task_td {
  font-size: 16px;
  color: #000;
}

#startup {

  width: 900px;
  height: 550px;
  position: relative;
}

#oauth {
  padding-top: 30px;
  padding-left: 270px;
  width: 600px;
  height: 200px;
  position: absolute;
    top: 0;
    left: 0;
}

#oauth label {
 color: #fff;
}

#oauth ul a {
 color: #fff;
}

.image_1 {
  padding-top: 30px;
  padding-left: 90px;
}

.hour_container {
  padding-top: 15px;
  border-radius: 5px;
  overflow: scroll;
  float: right;
  width: 250px;
  height:550px;
  background-color: #088DA5;
}

.form_tag {
  border-radius: 5px;
  float: left;
  width: 380px;
  height: 550px;
  background-color: #FFF6CD;
  padding-bottom: 2px;
}

.form_tag button {
  padding-left: 60px;
  border-radius: 5px;
}

.form_tag  p {
  padding-left: 60px;
  border-radius: 15px;
  font-style: italic;
}

.flash {
  float: right;
  background-color: #49A840; /* green */
  border-radius: 0.5em;
  color: #fff;
  padding: 0.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  display: inline-block;
  margin-right: none;
}

.task_form {
margin-right: 0px;
}

#oauth input {

  opacity:0.5;
;
}




