#home_div {
  background-color: #fff;
  overflow: hidden;
  height: 25em;
}
.event_div {
  padding-top: 1.5em;
}

.event_div_1 {
}

.event_div_2 {
padding-top: 1.5em;
}

.event_div_3 {

}

.events fieldset {
  width: 20em;
  height: 15em;
  display: inline-block;
  margin: .6em;
  border-width: .25em;
  background-color: #4499a9;
  color: #000;
}

h5 strong {
  color: #fff;
}
.event_text {
  list-style: none;
  height: 10em;
  overflow: auto;
}


.event_card {
  margin-top: 2em;
}
.event_card fieldset {
  width: 25em;
  height: 20em;
  border-width: .25em;
  background-color: #fff;
  margin-left: 3em;
}


.event_attendees {
  display: inline-block;
  list-style: none;
  height: 100px;
}
.event_chatter{
  list-style: none;
  height: auto;
}
.panel .event_chatter{
  background-color: #fff;
}

.event_div .panel {
  background-color: #d6ead1;
}

.events {
  height: auto;
  background-color: #CFCFCF;
  overflow: auto;
}
.event_links li {
  display: inline-block;
  list-style: none;
}

.event_links a {
  color: #ffce49;
}

.event_detail {
  width: 20em;
  height: 15em;
  display: inline-block;
  margin: 1.5em;
  background-color: #fff;
  opacity: .9;
  float: top;
  border-style: solid;
  border-width: .1em;
  overflow: hidden;
  border-radius: .5em;
  box-shadow: .5em .5em .5em #B2B2B2;
}

.event_control input button {
  border-radius: 2em;
  background-color: #FF6600;
}
.event_control {
 list-style: none;
}
.event_title {
background-color: #DFC137;
 box-shadow: 0em .5em .5em #B2B2B2;
}
.event_title p {
color: #fff;
padding-left: 3em;
font-size: 20px;
}

.event_attendees span {
  margin: 1em;
}
