#home_div {
}

.notification {
  margin-left: 10em;
}
.row_1 {
   background-color: #188DC8;
}
.event_div {
  padding-top: 1.5em;
}

.event_wrapper {
  background-color: #188DC8;
  padding-bottom: 1em;
}

.event_div_1 {

}

.event_div_2 {
  background-color: #504a4a;
  padding-top: 2em;
}

.event_div_3 {
  background-color: #504a4a;
  padding-bottom: 4em;
}

.events fieldset {
  width: 20em;
  height: 15em;
  display: inline-block;
  margin: .6em;
  border-width: none;
  background-color: #188DC8;
  color: #000;
}

h5 strong {
  color: #fff;
}
.event_text {
  list-style: none;
  height: 10em;
  overflow: auto;
}


.event_card {
  margin-top: 2em;
}
.event_card fieldset {
  width: 25em;
  height: 20em;
  border-width: .25em;
  background-color: #fff;
  margin-left: 3em;
}


.event_attendees {
  display: inline-block;
  list-style: none;
  height: 100px;
}
.event_chatter{
  list-style: none;
  height: auto;
}
.panel .event_chatter{
  background-color: #fff;
}

.event_div .panel {

}

.events {
  height: auto;
  background-color: #FFF;

}
.event_links li {
  display: inline-block;
  list-style: none;
}

.event_links a {
  color: #ffce49;
}

.event_detail {
  margin-top: 1em;
  margin-left: 2em;
  display: inline-block;
  float: top;
  overflow: hidden;
}

.event_control input button {
  border-radius: 2em;
  background-color: #FF6600;
}
.event_control {
 list-style: none;
}
.event_title {
background-color: #DFC137;
}
.event_title p {
color: #fff;
padding-left: 3em;
font-size: 20px;
}

.event_attendees span {
  margin: 1em;
}

.footer {
  height: 5em;
  background-color: #fff;

}

