.nav li:hover {
  background: #4b545f;
  background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
  background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
  background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}
.nav li ul:hover a {
  color: #FBFCE2;
}

.nav li a {
  display: block;
  color: #757575; text-decoration: none;
}
.nav ul {
  background: #4b545f; border-radius: 0px; padding: 15px 25px;
  position: absolute; top: 100%;
}
.nav li {
  float: none;
  position: relative;
}
.nav li a:hover {
  background: #4b545f;
}
.nav ul {
  display: none;
}
.nav li:hover > ul {
  display: block;
}
.nav {
  padding: 0;
  margin: 0;
}

.nav li { padding: 100;
  display: inline-block;
  list-style: none;
}
.navigation-container {
  border-radius: 5px;
  border-bottom: 3px solid #fff;
  background: #9BBDCF;
}

.nav > li > a {
  display:block ;
  padding: 15px;
  color: #858678;
  text-decoration: none;
}

.nav > .active,
.nav > li > a:hover {
  color: #FBFCE2;
  text-decoration: none;
}
