h2 {
  padding-left: 20px;
}

h4 {
  padding-left: 120px;
}

.index_div {
  float: left;
  width: 260px;
  height: 550px;
  background-color: #fff;
}

.div_task {
  float: right;
  width: 635px;
  margin-right: 0px;
  height: 550px;
  background-color: #fff;
}

.mdiv1 {
  float: left;
  margin-left: 0px;
  width: 100px;
}

.mdiv2 {
  float: right;
  margin-right : 200px;
  width: 300px;
}

.condition {
  padding-left: 50px;
  padding-top: 10px;
}

.default {
  padding-left: 50px;
  padding-top: 60px;
}

.clock {
  padding-top: 30px;
  padding-left: 100px;
}


#ct {
  padding-left: 130px;
  font-size: 16px;
  color: #fff;
}

.hour_list ul {
  border: 1px solid;
    border-radius: 5px;
  padding-left: 60px;
  padding-top: 0px;
  margin-right: 30px;
  background-color: #fff;
}

.avail_item_list {
  padding-left: 250px;
}

.avail_item_list > li {
  list-style: none;
}

.avail_item_list > li > a {
  list-style: none;
  text-decoration: none;
  font-size: 22px;
  color: #390909;
  padding-bottom: 5px;
}

.form1 {
  padding-top: 30px;
  padding-left: 30px;
}

.weather {
  padding-top: 40px;
  padding-left: 40px;
  font-size: 26px;
  color: #345678;
}

.image_1 {
  padding-top: 30px;
  padding-left: 90px;
}

input:hover {
background-color: #148BCF;
}

.mdiv2 input {
  text-align: center;
  border-radius: 20px;
}


