.task_control {
  margin-right: 10px;
  margin-top: 10px;
}

.task_control > li {
  display: inline-block;
}

.review-form {
    display: none;
}

.each_task_container {
  margin-left: 12em;
  width: 40em;
  height: 40em;
  overflow: auto;

}

.each_task_container fieldset {
  border-radius: 1em;
  margin-top: 1em;
}

.each_task {
  padding-bottom: 15px;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
}

.task_date {
  font-size: 26px;
  padding-left: 50px;
}

.task_strong {
  font-size: 34px;
  color: #808080;
}
.task_td {
  font-size: 16px;
  color: #000;
}
.task_message {
  margin-top: 1em;
  height: 3em;
  width: 10em;
  color: #01a7d7;
  font-size: 17px;
}
.form_tag {
  background-color: #ededed;
  margin-top: 1em;
  padding-bottom: 1em;
  box-shadow: .0em .3em .5em #B2B2B2;
}
.form_tag fieldset {
  background-color: #188DC8;
  opacity: .9;
  color: #000;
  border-color: #000;
  box-shadow: .5em .5em .5em #B2B2B2;
}
.form_tag label {
  color: #fff;
}

.form_tag button {
  padding-left: 60px;
  border-radius: 5px;
}

.form_tag  p {
  padding-left: 60px;
  border-radius: 15px;
  font-style: italic;
}

.sunrise_image {
 height: 15em;
}

.submit-button input {
  border-radius: 5em;
  background-color: #188DC8;
}

#ct {
  width: 40em;
  color: #01a7d7;
  text-shadow: .03em .03em #fff;
  font-size: 18px;
  text-align: 2em;
}

.task_title {
  margin-left: 11em;
}

.button_color a {
  color: #fff;
  border-radius: 5px;
}

.weather {
  margin-top: 1em;
  margin-left: .6em;
}

.task_footer {
  background-color: #20C498;
  height: 5em;
}

.task_row {
  padding-top: 1em;
}


