.topbar-wrapper {
  background-color: #fff;
  border-bottom: solid 1px;
}

.my_links li {
  display: inline-block;
  list-style: none;
  margin-right: 3em;
  color: #385561;
}

.my_links a {
  font-weight: bold;
  color: #385561;
}

.my_links li a:hover {
  color: #188DC8;
}

.my_logo {
  list-style: none;
  font-size: 36px;
}

.username {
  list-style: none;
}
.my_links {
  padding-top: 1em;
}
.topbar {
  border-bottom: 1px;
}

.sign {
  border: solid 3px;
   border-color: #20C498;
  list-style: none;
}

.sign a {
  margin: 1em;
  color: #20C498;
}

.sign li {
  list-style: none;
}

