       <div class="select_date">
        <%= form_for @date do |h| %>
          <a><%= h.text_field :date, placeholder: "select by date", :id => "datepicker" %>
          <%= h.submit "go" %></a>
          <%end%>
        </div>
